#menu__hamb{
    display: none;
}

@media screen and (max-width: 600px) {
    #menu__hamb{
        display: block;
        color: rgb(9, 131, 15);
        background-color: #FFFFFF;
        font-size: 1.2em;
        font-weight: bold;
        border: 2px solid rgb(9, 131, 15);
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.4em;
        z-index: 9999;
    }
    #menu__hamb:hover{
        color: #ffffff;
        background-color: rgb(9, 131, 15);
    }
    
}